{%- liquid
  assign product = closest.product
  assign block_settings = block.settings
-%}

{% if product.price > 0 %}
  {% assign installment_amount = product.price | divided_by: 4.0 %}
  <div class="product-afterpay-custom" {{ block.shopify_attributes }}>
    <span class="afterpay-text">or 4 interest-free payments of {{ installment_amount | money }} with</span>
    <svg class="afterpay-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 64 13" height="13" width="64">
      <path fill="#B2FCE4" d="M62.1324 2.80456L60.2523 1.72865L58.3451 0.636423C57.0844 -0.0862905 55.5086 0.821176 55.5086 2.27747V2.522C55.5086 2.65785 55.5793 2.78283 55.6988 2.84804L56.5845 3.35339C56.829 3.49468 57.1333 3.31536 57.1333 3.03279V2.45136C57.1333 2.16336 57.4431 1.98404 57.693 2.12532L59.4318 3.12517L61.1652 4.11958C61.4151 4.26086 61.4151 4.62493 61.1652 4.76622L59.4318 5.76063L57.693 6.76047C57.4431 6.90175 57.1333 6.72243 57.1333 6.43443V6.14644C57.1333 4.69014 55.5575 3.77724 54.2969 4.50539L52.3897 5.59761L50.5096 6.67353C49.2435 7.40168 49.2435 9.23291 50.5096 9.96106L52.3897 11.037L54.2969 12.1292C55.5575 12.8519 57.1333 11.9444 57.1333 10.4882V10.2436C57.1333 10.1078 57.0627 9.9828 56.9431 9.91759L56.0574 9.41223C55.8129 9.27095 55.5086 9.45027 55.5086 9.73284V10.3143C55.5086 10.6023 55.1989 10.7816 54.949 10.6403L53.2102 9.64046L51.4768 8.64605C51.2269 8.50477 51.2269 8.14069 51.4768 7.99941L53.2102 7.005L54.949 6.00515C55.1989 5.86387 55.5086 6.04319 55.5086 6.33119V6.61919C55.5086 8.07549 57.0844 8.98839 58.3451 8.26024L60.2523 7.16802L62.1324 6.0921C63.3984 5.35852 63.3984 3.53271 62.1324 2.80456Z"></path>
      <path fill="#B2FCE4" d="M49.8041 3.16406L45.4028 12.255H43.5771L45.2235 8.85883L42.6316 3.16406H44.5062L46.169 6.97869L47.9838 3.16406H49.8041Z"></path>
      <path fill="#B2FCE4" d="M5.79113 6.38875C5.79113 5.30196 5.00324 4.54121 4.03603 4.54121C3.06883 4.54121 2.28094 5.31826 2.28094 6.38875C2.28094 7.44837 3.06883 8.23629 4.03603 8.23629C5.00324 8.23629 5.79113 7.47554 5.79113 6.38875ZM5.80743 9.61651V8.77968C5.32926 9.36111 4.61744 9.71975 3.76978 9.71975C1.99838 9.71975 0.65625 8.30149 0.65625 6.38875C0.65625 4.4923 2.05272 3.04688 3.80782 3.04688C4.63375 3.04688 5.32926 3.41095 5.80743 3.97608V3.16099H7.39408V9.61651H5.80743Z"></path>
      <path fill="#B2FCE4" d="M15.11 8.18529C14.5558 8.18529 14.3982 7.9788 14.3982 7.43541V4.57172H15.4198V3.16433H14.3982V1.58849H12.7735V3.16433H10.6761V2.52313C10.6761 1.97973 10.8826 1.77324 11.4531 1.77324H11.8118V0.523438H11.0293C9.68716 0.523438 9.05141 0.963586 9.05141 2.30577V3.16977H8.14941V4.57172H9.05141V9.61985H10.6761V4.57172H12.7735V7.73428C12.7735 9.04929 13.2789 9.61985 14.5938 9.61985H15.4306V8.18529H15.11Z"></path>
      <path fill="#B2FCE4" d="M20.9443 5.81275C20.8302 4.97592 20.1456 4.47057 19.3414 4.47057C18.5426 4.47057 17.8797 4.95962 17.7167 5.81275H20.9443ZM17.7004 6.81803C17.8145 7.7744 18.4991 8.3178 19.3685 8.3178C20.0532 8.3178 20.5803 7.99719 20.89 7.48097H22.5582C22.1724 8.85032 20.9443 9.72519 19.3305 9.72519C17.3798 9.72519 16.0105 8.35583 16.0105 6.40505C16.0105 4.45427 17.4559 3.04688 19.3685 3.04688C21.2921 3.04688 22.6886 4.46513 22.6886 6.40505C22.6886 6.54633 22.6777 6.68761 22.6505 6.81803H17.7004Z"></path>
      <path fill="#B2FCE4" d="M33.0399 6.39418C33.0399 5.35087 32.252 4.54664 31.2848 4.54664C30.3176 4.54664 29.5297 5.3237 29.5297 6.39418C29.5297 7.4538 30.3176 8.24172 31.2848 8.24172C32.252 8.24172 33.0399 7.44293 33.0399 6.39418ZM27.9268 12.2574V3.16642H29.5134V4.00325C29.9916 3.41095 30.7034 3.04688 31.5511 3.04688C33.2953 3.04688 34.6646 4.48144 34.6646 6.37788C34.6646 8.27433 33.2681 9.71975 31.513 9.71975C30.698 9.71975 30.0296 9.39915 29.5623 8.85576V12.252H27.9268V12.2574Z"></path>
      <path fill="#B2FCE4" d="M40.3771 6.38875C40.3771 5.30196 39.5892 4.54121 38.622 4.54121C37.6548 4.54121 36.8669 5.31826 36.8669 6.38875C36.8669 7.44837 37.6548 8.23629 38.622 8.23629C39.5892 8.23629 40.3771 7.47554 40.3771 6.38875ZM40.3934 9.61651V8.77968C39.9152 9.36111 39.2034 9.71975 38.3557 9.71975C36.5843 9.71975 35.2422 8.30149 35.2422 6.38875C35.2422 4.4923 36.6387 3.04688 38.3938 3.04688C39.2197 3.04688 39.9152 3.41095 40.3934 3.97608V3.16099H41.98V9.61651H40.3934Z"></path>
      <path fill="#B2FCE4" d="M25.0628 3.79676C25.0628 3.79676 25.4649 3.04688 26.4593 3.04688C26.8831 3.04688 27.1548 3.19359 27.1548 3.19359V4.84007C27.1548 4.84007 26.5571 4.47057 26.0083 4.54664C25.4594 4.62272 25.1117 5.12264 25.1117 5.79645V9.61651H23.4707V3.16642H25.0574V3.79676H25.0628Z"></path>
    </svg>
  </div>
{% endif %}

{% stylesheet %}
  .product-afterpay-custom {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
  }

  .afterpay-text {
    font-family: "Albert Sans";
    font-size: 12px;
    font-weight: 400;
    color: #c9c9cc;
    line-height: 1.4;
  }

  .afterpay-logo {
    width: 64px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }

  @media screen and (min-width: 750px) {
    .afterpay-text {
      font-size: 13px;
    }

    .afterpay-logo {
      width: 70px;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product Afterpay",
  "tag": null,
  "settings": []
}
{% endschema %}

