<div>
    <div>
        <input type="checkbox" id="engrave-state">
        <label>Engraving Text</label>
    </div>
    <div class="engrave-div">
        <div class="engrave-radios">
            <div>
                <input type="radio" name="engrave-radio" id="engrave-one" value="one-line">
                <label>One Line</label>
            </div>
            <div>
                <input type="radio" name="engrave-radio" id="engrave-two" value="two-line">
                <label>Two Line</label>
            </div>
        </div>
        <div class="engrave-inputs">
            <div>
                <input type="text" name="properties[Engraving Text]" placeholder="Enter text, e.g.: Chef" id="engravedInput" maxlength="{{ block.settings.engraving_length }}" checked>
                <input type="text" name="properties[Engraving Text2]" placeholder="Enter text, e.g.: Chef" id="engravedInput2" maxlength="{{ block.settings.engraving_length }}" style="display: none;">
            </div>
            <span class="engraving-count">0/{{ block.settings.engraving_length }}</span>
        </div>
        <p>{{ block.settings.engraving_text }}</p>
    </div>
</div>

{% style %}
    .engrave-div {
        display: none;
        margin-top: 12px;
    }

    .engrave-div div {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .engrave-div input {
        padding: 12px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        color: #ffffff;
        font-family: "Sen", sans-serif;
        font-size: 14px;
        width: 100%;
    }

    .engrave-div p {
        font-family: "Albert Sans";
        font-weight: 400;
        font-size: 16px;
        margin: 0;
        font-style: italic;
    }
{% endstyle %}

<script>
    window.engravingSelected = false;
    window.engravingSecondSelected = false;
    window.engravingText = "";
    window.engravingText2 = "";

    const engraveDiv = document.querySelector(".engrave-div");
    const engraveCheck = document.getElementById("engrave-state");
    const engraveRadio = document.getElementById("engrave-one");
    const engraveSecondRadio = document.getElementById("engrave-two");

    const engraveInput = document.getElementById("engravedInput");
    const engraveSecondInput = document.getElementById("engravedInput2");
    const engraveSpan = document.querySelector(".engraving-count");

    engraveCheck.addEventListener("change", () => {
        if (engraveDiv) {
            if (engraveCheck.checked) {
                engraveDiv.style.display = "block";
                window.engravingSelected = true;
            } else {
                const engraveLength = engraveSpan.textContent.split("/")[1];
                engraveDiv.style.display = "none";
                window.engravingSelected = false;
                window.engravingSecondSelected = false;
                window.engravingText = "";
                window.engravingText2 = "";
                engraveInput.value = "";
                engraveSecondInput.value = "";
                engraveSpan.textContent = `0/${engraveLength}`;
            }
        }
    })

    engraveRadio.addEventListener("change", () => {
        if (engraveRadio.checked) {
            engraveSecondInput.style.display = "none";
        }
    })

    engraveSecondRadio.addEventListener("change", () => {
        if (engraveSecondRadio.checked) {
            engraveSecondInput.style.display = "block";
        }
    })

    document.querySelector('#engravedInput').addEventListener("input", e => {
        window.engravingText = e.target.value;
        const countSpan = document.querySelector(".engraving-count");
        const totalLength = countSpan.textContent.split("/")[1];
        countSpan.textContent = `${window.engravingText.length}/${totalLength}`;
    });
</script>

{% schema %}
{
    "name": "Engraving option",
    "tag": null,
    "settings": [
        {
            "type": "text",
            "id": "btn1",
            "label": "First Button",
            "default": "Without engraving"
        },
        {
            "type": "text",
            "id": "btn2",
            "label": "Second Button",
            "default": "Engrave text (+$15)"
        },
        {
            "type": "text",
            "id": "engraving_text",
            "label": "Engraving title",
            "default": "Letters, numbers, and basic punctuation only (. , ! ? ' -)"
        },
        {
            "type": "range",
            "id": "engraving_length",
            "label": "Engraving Length",
            "min": 10,
            "max": 40,
            "default": 20,
            "step": 1
        }
    ]
}
{% endschema %}