<div>
    <p>Engraving option</p>
    <div class="engrave-btns">
        <button type="button" class="engrave-btn" onclick="engrave(0)">Without engraving</button>
        <button type="button" class="engrave-btn" onclick="engrave(1)">Engrave text (+$15)</button>
    </div>
    <div class="engrave-div">
        <span>{{ block.settings.engraving_title }}</span>
        <input type="text" name="properties[Engraving Text]" placeholder="Enter text, e.g.: Chef" id="engravedInput" maxlength="20">
    </div>
</div>

{% style %}
    .engrave-btns {
        display: flex;
    }

    .engrave-div {
        display: none;
    }
{% endstyle %}

<script>
    window.engravingSelected = false;
    const engrave = (num) => {
        const engraves = document.querySelectorAll(".engrave-btn");
        const engraveDiv = document.querySelector(".engrave-div");
        if (engraves.length > 0) {
            engraves.forEach(engrave => {
                engrave.classList.remove('active');
            })
            engraves[num].classList.add('active');
        }
        if (engraveDiv) {
            if (num == 0) {
                engraveDiv.style.display = "none";
                window.engravingSelected = false;
            } else {
                engraveDiv.style.display = "block";
                window.engravingSelected = true;
            }
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        const engraveBlock = document.querySelector(".engrave-btns");
        if(engraveBlock) return;

        const form = engraveBlock.closest("form");
        if(!form) return;

        const addBtn = form.querySelector("button.add-to-cart-button");
        if(!addBtn) return;

        const FEE_VARIANT_ID = 43776032178227;
        addBtn.addEventListener("click", () => {
            if(!window.engravingSelected) return;
            
            fetch("/cart/add.js", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    id: FEE_VARIANT_ID,
                    quantity: 1,
                }),
            }).catch((err) =>
                console.error("Failed to add engraving fee product:", err)
            );
        })
    })
</script>

{% schema %}
{
    "name": "Engraving option",
    "tag": null,
    "settings": [
        {
            "type": "richtext",
            "id": "engraving_title",
            "label": "Engraving title"
        }
    ]
}
{% endschema %}