{% liquid
    assign class = 'add-to-cart-button ' | append: block.settings.style_class
    assign id = 'BuyButtons-ProductSubmitButton-' | append: block.id
%}

<span
    {{ block.shopify_attributes }}
    style="--add-to-cart-font-case: {{ settings.button_text_case }};"
>
    Add custom Text
</span>

{% schema %}
{
    "name": "Engraving option",
    "tag": null
}
{% endschema %}