<div>
    <p>Engraving option</p>
    <div class="engrave-btns">
        <button type="button" class="engrave-btn" onclick="engrave(0)">Without engraving</button>
        <button type="button" class="engrave-btn" onclick="engrave(1)">Engrave text (+$15)</button>
    </div>
    <div class="engrave-div">
        <span>{{ block.settings.engraving_title }}</span>
        <input type="text" name="properties[Engraving Message]" placeholder="Enter text, e.g.: Chef" id="engravedInput" maxlength="20">
    </div>
    <input type="text" name="properties[Engraving Fee]">
</div>

{% style %}
    .engrave-btns {
        display: flex;
    }

    .engrave-div {
        display: none;
    }
{% endstyle %}

<script>
    const engrave = (num) => {
        const engraves = document.querySelectorAll(".engrave-btn");
        const engraveDiv = document.querySelector(".engrave-div");
        if (engraves.length > 0) {
            engraves.forEach(engrave => {
                engrave.classList.remove('active');
            })
            engraves[num].classList.add('active');
        }
        if (engraveDiv) {
            if (num == 0) {
                engraveDiv.style.display = "none";
                updatePrice(false);
            } else {
                engraveDiv.style.display = "block";
                updatePrice(true);
            }
        }
    }

    const updatePrice = (state) => {
        const priceDiv = document.querySelector(".product-details-prices");
        if(priceDiv) {
            const realPriceElement = priceDiv.querySelector("h2");
            const comparePriceElement = priceDiv.querySelector("h4");
            const realPrice = parseFloat(realPriceElement.textContent.replace(/[^0-9.]/g, ""));
            const comparePrice = parseFloat(comparePriceElement.textContent.replace(/[^0-9.]/g, ""));
            if(state) {
                realPriceElement.textContent = `$${realPrice + 15.0}`;
                comparePriceElement.textContent = `$${comparePrice + 15.0}`;
            } else {
                realPriceElement.textContent = `$${realPrice - 15.0}`;
                comparePriceElement.textContent = `$${comparePrice - 15.0}`;
            }
        }
    }
</script>

{% schema %}
{
    "name": "Engraving option",
    "tag": null,
    "settings": [
        {
            "type": "richtext",
            "id": "engraving_title",
            "label": "Engraving title"
        }
    ]
}
{% endschema %}