{% style %}

{% endstyle %}

<div class="section-{{ section.id }}">
    <div class="compare-btn">
        <h2>{{ section.settings.heading }}</h2>
        <button>{{ section.settings.link_text }}</button>
    </div>
</div>