
#hide-chat {
    transition: 0.5s;
    width: 200px;
    height: 30px;
    background:rgb(230, 211, 49);
    color:white;
    position: fixed;
    bottom: 65px;
    right: 0;
    z-index: 999999999;
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transform: translate(90%, 0);
    padding: 10px;
}

#hide-chat:hover {
    transform: translate(60%, 0px);
}
