
#hide-chat {
    transition: 0.5s;
    width: 200px;
    height: 30px;
    background:rgba(210, 219, 87, 0.62);
    color:white;
    position: fixed;
    bottom: 65px;
    cursor:pointer;
    right: 0;
    z-index: 999999999;
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transform: translate(90%, 0);
    padding: 10px;
}

