.jdgm-rev-widg__title {
    text-align: start;
    font-family: "Sen";
    font-size: 64px !important;
    font-weight: 600;
    color: #fff;
}

.jdgm-row-stars > div {
    align-items: flex-start !important;
}

.jdgm-widget-actions-wrapper {
    border: none;
}

.jdgm-widget-actions-wrapper a {
    background-color: #292a33 !important;
    border: none !important;
}

.jdgm-sort-dropdown {
    color: #c9c9cc !important;
}

.jdgm-sort-dropdown-arrow {
    color: #c9c9cc !important;
}

.jdgm-rev-widg__summary {
    border: none;
    order: 1;
}

.jdgm-histogram.jdgm-temp-hidden {
    border: none;
    order: 2;
}

.jdgm-write-rev-link {
    margin: 0 !important;
    color: #fff !important;
    font-family: "Albert Sans";
    font-size: 18px;
}

.jdgm-rev-widg__summary-stars span, .jdgm-rev-widg__summary-text {
    font-family: "Albert Sans";
    font-weight: 400;
    font-size: 18px;
    color: #c9c9cc;
}

.jdgm-histogram__row {
    width: 100%;
}

.jdgm-histogram__bar {
    width: calc(100% - 160px) !important;
    height: 6px !important;
}

.jdgm-histogram__frequency {
    font-family: "Albert Sans";
    font-weight: 400;
    font-size: 16px;
    color: #c9c9cc !important;
}

.jdgm-rev__author {
    color: #c9c9cc !important;
    font-family: "Albert Sans";
    font-weight: 400;
    font-size: 16px;
}

.jdgm-rev__icon:not(.jdgm-rev__avatar):before {
    color: #fff;
}

.jdgm-rev__body {
    font-family: "Albert Sans";
    font-weight: 400;
    font-size: 20px;
}

.jdgm-rev__timestamp {
    font-family: "Albert Sans";
    font-weight: 500;
    font-size: 14px !important;
    color: #828282 !important;
}

@media screen and (max-width: 1025px) {
    .jdgm-rev-widg__title {
        font-size: 36px !important;
    }
    
    .jdgm-rev__body {
        font-size: 16px;
    }
}

.mobile {
    display: none !important;
}

@media screen and (max-width: 750px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .announcement-bar__text {
        font-size: 14px;
    }
}

.sec-gradient {
    background: linear-gradient(0deg, #0C0C0C 0%, #292A33 99.48%);
}

.sec-color {
    background-color: #292A33;
}

#faq {
    background: linear-gradient(0deg, #0C0C0C 0%, #292A33 99.48%);
}

.collection-wrapper facets-form-component span {
    font-family: "Albert Sans";
    font-size: 16px;
}

.collection-wrapper .product-grid__item a.user-select-text p {
    font-family: "Sen";
    font-size: 18px;
    font-weight: 600;
}

.collection-wrapper .product-grid__item .product-grid-view-zoom-out--details h3 {
    font-family: "Sen";
    font-weight: 600;
}

.collection-wrapper .product-grid__item span.price {
    font-family: "Sen";
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width: 1025px) {
    .collection-wrapper .product-grid__item span.price {
        font-size: 16px;
    }
}

aside {
    border: none !important;
    padding: 10px 0 !important;
}

.announcement-bar__slider slideshow-arrows {
    max-width: 700px;
    min-width: 350px;
    left: 50%;
    transform: translate(-50%);
}

.cart-drawer__items::-webkit-scrollbar             { width: 10px; }
.cart-drawer__items::-webkit-scrollbar-track       { background: #FAFAFA; }
.cart-drawer__items::-webkit-scrollbar-thumb       { background: rgba(32, 74, 52, 0.5); }
.cart-drawer__items::-webkit-scrollbar-thumb:hover { background: rgba(32, 74, 52, 1); }