.jdgm-rev-widg__title {
    text-align: start;
    font-family: "Sen";
    font-size: 64px !important;
    font-weight: 600;
    color: #f9f9f7;
}

.jdgm-rev-widg__title:after {
    content: ".";
    color: #fd3e36;
}

.jdgm-row-stars > div {
    align-items: flex-start !important;
}

.jdgm-widget-actions-wrapper {
    border: none;
}

.jdgm-rev-widg__summary {
    border: none;
    order: 1;
}

.jdgm-histogram.jdgm-temp-hidden {
    border: none;
    order: 2;
}

.jdgm-write-rev-link {
    margin: 0 !important;
    color: #c1c4c7 !important;
    font-family: "Albert Sans";
    font-size: 18px;
}

.jdgm-rev-widg__summary-stars span, .jdgm-rev-widg__summary-text {
    font-family: "Albert Sans";
    font-weight: 400;
    font-size: 18px;
    color: #86868b;
}

.jdgm-histogram__row {
    width: 100%;
}

.jdgm-histogram__bar {
    width: calc(100% - 160px) !important;
    height: 6px !important;
}

.jdgm-histogram__frequency {
    font-family: "Albert Sans";
    font-weight: 400;
    font-size: 16px;
    color: #86868b !important;
}

.jdgm-rev__author {
    color: #86868b !important;
    font-family: "Albert Sans";
    font-weight: 400;
    font-size: 16px;
}

.jdgm-rev__icon:not(.jdgm-rev__avatar):before {
    color: #c1c4c7;
}

.jdgm-rev__body {
    font-family: "Albert Sans";
    font-weight: 400;
    font-size: 20px;
}

.jdgm-rev__timestamp {
    font-family: "Albert Sans";
    font-weight: 500;
    font-size: 14px !important;
    color: #56565b !important;
}

@media screen and (max-width: 1025px) {
    .jdgm-rev-widg__title {
        font-size: 36px !important;
    }
    
    .jdgm-rev__body {
        font-size: 16px;
    }
}

.mobile {
    display: none !important;
}

@media screen and (max-width: 750px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }
}

.sec-gradient {
    background: linear-gradient(0deg, #0C0C0C 0%, #292A33 99.48%);
}

.sec-color {
    background-color: #292A33;
}

#faq {
    background: linear-gradient(0deg, #0C0C0C 0%, #292A33 99.48%);
}